@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 48 33% 94%;
    --foreground: 240 6% 18%;
    --card: 0 0% 100%;
    --card-foreground: 240 6% 18%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 6% 18%;
    --primary: 250 67% 70%;
    --primary-foreground: 0 0% 100%;
    --secondary: 240 25% 96%;
    --secondary-foreground: 240 6% 18%;
    --muted: 240 25% 96%;
    --muted-foreground: 240 4% 46%;
    --accent: 240 25% 96%;
    --accent-foreground: 240 6% 18%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 250 67% 70%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 240 6% 10%;
    --foreground: 0 0% 98%;
    --card: 240 6% 10%;
    --card-foreground: 0 0% 98%;
    --popover: 240 6% 10%;
    --popover-foreground: 0 0% 98%;
    --primary: 250 67% 70%;
    --primary-foreground: 0 0% 100%;
    --secondary: 240 4% 16%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 4% 16%;
    --muted-foreground: 240 5% 65%;
    --accent: 240 4% 16%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 4% 16%;
    --input: 240 4% 16%;
    --ring: 250 67% 70%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .marquee {
    animation: marquee 60s linear infinite;
  }
  .marquee:hover {
    animation-play-state: paused;
  }
  @keyframes marquee {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-50%);
    }
  }
  .marquee-vertical {
    animation: marquee-vertical 40s linear infinite;
  }
  .marquee-vertical:hover {
    animation-play-state: paused;
  }
  @keyframes marquee-vertical {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(-50%);
    }
  }
}
